<br><br>
<div class="homeee">

  <%# <div class="kidy">
    <h1> Welcome to <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1668870890/Kidenglish/kigEnglish_Logo_1_gavxzw_rasw3y.png', width:'30%' %>
  <%# </div> %>

  <div class="landing">
    <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1668871174/Kidenglish/Lets_learn_together_1_sswqbn.png', width:'100%' %>
    <div class="linkk">
      <%= link_to "Let's go ! ", dashboard_path, class:"middle" %>
    </div>
  </div>



</div>
