<br><br>
<div class="homeee">

  <div class="kidy">
    <h1> Kid<%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1668800961/Kidenglish/kigEnglish_Logo_kp0bx7.png', width:35 %>nglish</h1>
  </div>

  <div class="landing">
    <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1668869606/Kidenglish/Lets_learn_together_giten5_idaexi.png', width:'100%' %>
    <div class="linkk">
      <%= link_to "Let's go ! ", dashboard_path, class:"middle" %>
    </div>
  </div>



</div>
