sauv.html.erb

  <div class="card">
        <%= link_to "activités", activities_path %>
      </div>
      <div class="card">
       <%= link_to "animaux", animals_path %>
      </div>
      <div class="card">
       <%= link_to "le corps", body_path %>
      </div>
      <div class="card">
       <%= link_to "vêtements", clothes_path %>
      </div>
      <div class="card">
       <%= link_to "couleurs", colors_path %>
      </div>
      <div class="card">
       <%= link_to "famille", family_path %>
      </div>
      <div class="card">
        <%= link_to "nourriture", food_path %>
      </div>
      <div class="card">
        <%= link_to "fruits", fruits_path %>
      </div>
      <div class="card">
        <%= link_to "maison", house_path %>
      </div>
      <div class="card">
        <%= link_to "lettres", letters_path %>
      </div>
      <div class="card">
        <%= link_to "musique", music_path %>
      </div>
      <div class="card">
        <%= link_to "nature", nature_path %>
      </div>
      <div class="card">
        <%= link_to "chiffres", numbers_path %>
      </div>
      <div class="card">
        <%= link_to "l'école", school_path %>
      </div>
      <div class="card">
        <%= link_to "sports", sports_path %>
      </div>
      <div class="card">
        <%= link_to "légumes", vegetables_path %>
      </div>
      <div class="card">
        <%= link_to "véhicules", vehicules_path %>
      </div>
      <div class="card">
        <%= link_to "formes", shapes_path %>
      </div>
